@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.div-all {
  margin-top: 89px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.images {
  width: 51%;
  border: 1px solid #eee;
}

.images img {
  width: 100%;
}

.des {

  display: flex;
  flex-direction: column;
  width: 38%;
}

.social {
  width: 100%;
  display: flex;
  gap: 34px;
}

.social span {
  font-size: 20px;
  color: #a8a8a8;
  margin: 0;
}

.social a {
  background: #4965ff;
  padding: 5px 10px;
  border-radius: 35px;
  color: #fff;
}

.facebook {
  padding: 5px 12px !important;

}

.hr {
  display: flex;
  margin: 10px 0px;
  width: 99%;
}

.hr hr {
  width: 100%;
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #999;
}

.hr span {
  margin: 0px 15px;
}

.from {
  width: 455px;
}

.form-group {
  margin-bottom: 12px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px 45px;
  font-size: 19px;
  margin: 20px 0px !important;
}

a {
  text-decoration: none;
}

.footer {
  margin-top: 120px;
}

.div-part2 {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

.socail-footer {
  display: flex;
  gap: 55px;
}

.socail-footer a {
  background: #4965ff;
  padding: 5px 10px;
  border-radius: 20px;
}

@media screen and (max-width:992px) {
  .part1 {
    display: flex;
    flex-direction: column;
  }

  .images {
    width: 100%;
  }

  .des {
    width: 100%;
  }
}